<hr>
<hr>
<hr>
<div class="container">
  <div class="row">
    <div class="card col s4 blue-grey cardFav" ng-repeat="j in favorites">
      <div>
        <div class="card-content white-text">
          <span class="card-title">{{j.year}}{{j.make}}{{j.model}}</span>
          <p>{{j.style}}</p>
          <p>{{j.ratings.performanceSummary}}</p>
          <hr>
          <ul ng-repeat="k in favorites.ratings">
            <li>{{k.performanceScore}}</li>
          </ul>
          <!-- <p>{{j.summary}}</p> -->
        </div>
        <div class="card-action">
          <a href="#">Delete</a>
          <a href="#">Add comment</a>
        </div>
      </div>
    </div>
  </div>
</div>
