<div  id="footer" class="page-footer grey" ng-controller="NavCtrl">
  <div class="container">
    <div class="row">
      <div class="col l6 s12"><hr>
        <h5 class="white-text">The Name You Can Trust</h5>
        <p class="grey-text text-lighten-4">Car Reviews & News</p>
        <ul>
          <li><a class="grey-text text-lighten-3">Car Reviews</a></li>
          <li><a class="grey-text text-lighten-3">Car Videos</a></li>
          <li><a class="grey-text text-lighten-3">Auto Shows</a></li>
          <li><a class="grey-text text-lighten-3">Car News</a></li>
          <li><a class="grey-text text-lighten-3">Best Cars</a></li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
      <br>
        <img src="/images/slides/kbb.jpg" width="70px", height="60px">
        <a href="http://nashvillesoftwareschool.com/"><img src="/images/slides/NSSlogo.jpg" width="60px", height="60px"></a><hr>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#">Customer service: 1 (555) 258-3266 <br> Parent organization: NSS</a></li>
          <li><a class="grey-text text-lighten-3" href="#">Founder: Yonatan Molla</a></li>
          <li><a class="grey-text text-lighten-3" href="#">Founded: 2016</a></li>
          <li><a class="grey-text text-lighten-3" href="#">Headquarters: Nashville, TN</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright danger">
    <div class="container">
    © 2016 Copyright Text
    </div>
  </div>
</div>
