<div  id="footer" class="footer grey pannel3">
  <div class="container" style="text-shadow: -1px -1px 1px #000;">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">MGB The Name You Can Trust</h5>
        <a class="grey-text text-lighten-3" href=""><em>Car Reviews & News</em></a>
        <ul>
          <li><a href="" class="grey-text text-lighten-3"><em>Car Videos</em></a></li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12"><br>
        <a href=""><img src="/images/slides/kbb.png" width="50px", height="40px"></a>
        <a href="http://nashvillesoftwareschool.com/"><img src="/images/slides/NSSlogo.jpg" width="50px", height="40px"></a>
        <a href="http://developer.edmunds.com/index.html"><img src="/images/slides/edmonds.png" width="50px", height="40px"></a>
        <a href="http://developer.edmunds.com/index.html"><img src="/images/slides/15.jpg" width="50px", height="40px"></a>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#"><em>Founded: 2016 Headquarters: Nashville, TN</em></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright #616161 grey darken-1 col s12 z-depth-4">
    <div class="container">
    © 2016 Copyright MGB
    </div>
  </div>
</div>
