<div  id="footer" class="footer grey">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">YBB The Name You Can Trust</h5>
        <a class="grey-text text-lighten-3" href="">Car Reviews & News</a>
        <ul>
          <li><a href="" class="grey-text text-lighten-3">Car Videos</a></li>
          <li><a href="" class="grey-text text-lighten-3">Auto Shows</a></li><hr>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12"><br>
        <img src="/images/slides/kbb.jpg" width="70px", height="60px">
        <a href="http://nashvillesoftwareschool.com/"><img src="/images/slides/NSSlogo.jpg" width="60px", height="60px"></a>
        <a href="http://developer.edmunds.com/index.html"><img src="/images/slides/edmonds.png" width="60px", height="60px"></a>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#">Founder: Yonatan Molla</a></li>
          <li><a class="grey-text text-lighten-3" href="#">Founded: 2016 Headquarters: Nashville, TN</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright ">
    <div class="container">
    © 2016 Copyright YBB
    </div>
  </div>
</div>
