<div>
  <div ng-include="'partials/navbar.html'"></div>
  <div style="height: 500px">
    <div uib-carousel active="active" interval="myInterval">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <p>{{slide.text}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <img class="backgroundPic" src="/images/background.jpg"> -->
  <div ng-include="'partials/footer.html'"></div>
</div>
