
<div class="coolTitle" style="background:url('/images/slides/banner.png') no-repeat right;"><img src="/images/slides/GRY2.png" width="300px", height="50px"><hr></div>
  <nav ng-controller="NavCtrl" class="nav-wrapper #616161 grey darken-1 col s12 z-depth-4">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a ng-show="$parent.isLoggedIn" class="white-text right" href="#/home"><i class="fa fa-home fa-4x" aria-hidden="false"></i>
      </a>
      </li>
      <!-- <li>
        <a  ng-show="$parent.isLoggedIn" class="white-text right" href="#/result"><h4>Ratings</h4></a>
      </li> -->
      <li>
        <a  ng-show="$parent.isLoggedIn" class="white-text right" href="#/favorite"><h4>Favorites</h4></a>
      </li>
      <li>
        <a  ng-show="!$parent.isLoggedIn" class="white-text right" href="#/login"><h4>LogIn</h4></a>
      </li>
      <li>
        <a  ng-show="$parent.isLoggedIn" class="white-text right" ng-click="logOut()"><h4>Logout</h4></a>
      </li>
    </ul>
  </nav>
  <hr>

