
<div id="header" ng-include="'partials/navbar.html'"></div>
 <div class="container right">
        <button class=" btn btn-info right" ng-click="runSearchResult()"><a>Run</a></button>
   <div class="row">
     <div class="col s3">
       <span>Select make of a car:
         <select id="make" class='dropdown-button btn' ng-model="selectedCarMake" ng-change="update()">
          <option  ng-repeat="x in cars.makes" value="{{$index}}">{{x.name}}</option>
         </select>
       </span>
     </div>
    <div class="col s3">
      <span>Select model of a car:</span>
      <select id="model" class='dropdown-button btn' ng-model="selectedCarModel" ng-change="update2()" ng-disabled="!selectedCarMake">
        <option ng-repeat="y in carModels" value="{{$index}}">{{y.name}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col s3">
      <span>Select Year of a car:</span>
      <select id="year" class='dropdown-button btn' ng-model="selectedCarYear" ng-change="update()" ng-disabled="!selectedCarModel">
        <option ng-repeat="z in carYears" value="{{$index}}">{{z.year}}</option>
      </select>
    </div>
    <div class="col s3">
      <span>Select style of a car:</span>
      <select id="style" class='dropdown-button btn' ng-model="selectedCarStyle" ng-change="update()" ng-disabled="!selectedCarYear">
        <option ></option>
        <option ng-repeat="k in carstyles" value="{{k}}">{{k}}</option>
      </select>
    </div>
  </div>
</div>
<!-- <div id="footer" ng-include="'partials/footer.html'"></div> -->



