
    <!-- <div class="col s8 offset-s1" style="background: url('images/slides/pannel.jpg') no-repeat; color:lime; padding-right: 1%;"></div> -->
    <!-- <div class="off-col-2" style="background: url('images/slides/pannel.jpg') no-repeat; color:lime; padding-right: 1%;"> -->
    <div class="container">
      <div class="center">
         <h1>{{item.year.year}}&nbsp;<br>{{item.make.name}}&nbsp;{{item.model.name}}</h1>
        <h3 style="color:white;">{{item.style.name}}</h3>
      </div>
    </div>
      <div class="container">
        <div class="row" style="border: 1px solid grey">
          <div class="col s3">
            <a href='https://www.google.com/search?q={{item.year.year}}&nbsp;{{item.make.name}}&nbsp;{{item.model.name}}&tbm=isch'><i class="fa fa-camera-retro fa-2x" style="margin-top:10px; padding-left:40px;">photos</i></a>
          </div>
          <div class="col s3">
            <a href="" ng-click="isCollapsed = !isCollapsed" tooltip-popup-close-delay='500' uib-tooltip='click to see more'><h3>Overall Summary</h3></a>
          </div>
          <div class="col s3">
            <a href="" ng-click="isCollapsedHorizontal = !isCollapsedHorizontal" tooltip-popup-close-delay='1000' uib-tooltip='click to see chart'><h3><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;Chart Summary</h3></a>
          </div>
          <div class="col s3" style="margin-top:10px;">
            <a href="" class=" btn blue right" ng-click="addToFb(item)">Add To My Favorite</a>
          </div>
        </div>
      </div>
      <div class="container">
        <div uib-collapse="isCollapsed">
          <div class="well well-sm"><h3>{{item.summary}}</h3></div>
        </div>
      </div>
      <div class="container">
        <div uib-collapse="isCollapsedHorizontal">
          <div class="well well-sm black">
            <div class="col s4 left" style="margin-left:10%;">
              <fusioncharts
                 width="800"
                 height="600"
                 type="column3d"
                 dataSource="{{myDataSource}}" >
              </fusioncharts>
            </div>
          </div>
        </div>
      </div>
  <div class="container">
  <div class="row">
    <div class=".col-md-4 .offset-md-4">
      <table class="table striped">
        <thead>
          <tr>
            <th class="info"><h3>Rating Parameter</h3></th>
            <th class="info"><h3>Ratings</h3></th>
          </tr>
        </thead>
        <tbody ng-repeat ="z in item.ratings">
          <tr>
            <td style="color:black;"><p>{{z.title}} score :</p></td>
            <td style="color:black;"><p>{{z.score}}</p></td>
          </tr>
          <tr>
            <td style="color:white;"><p>{{z.title}} grade :</p></td>
            <td style="color:white;"><p>{{z.grade}}</p></td>
          </tr>
          <tr>
            <td>
              <a href="" ng-click="isCollapsed = !isCollapsed" tooltip-popup-close-delay='500' uib-tooltip='click to see more'>
                <p>{{z.title}} Summary</p>
              </a>
            </td>
            <td>
              <div uib-collapse="isCollapsed">
                <div class="well well-sm"><p>{{z.summary}}</p></div>
              </div>
            </td>
          </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
