<div class="divider"></div>
  <!-- <h1>{{item.year.year}} {{item.make.name}} {{item.model.name}}</h1> -->
<!--  -->
</div>
<div class="divider"></div>
<div class="divider"></div>
<div class="divider"></div><br>
<div class="divider"></div><br>
<div class="divider"></div><br>
<hr>
<div class="container">
  <div class="row">
    <div class="card s2 z-depth-4">
      <div class="panel-body bg-warning">
       <span> <h1>{{item.year.year}} {{item.make.name}} {{item.model.name}}</h1></span>
        <h2>{{item.style.name}}</h2>
        <a href='https://www.google.com/search?q={{item.year.year}}{{item.make.name}}{{item.model.name}}&tbm=isch'>photos</a>
        <button  ng-controller="SearchResultCtrl" class=" btn btn-info right" ng-click="saveToFb()">Save</button>
    </div>
    </div>
    <div class="card s4 z-depth-4">
      <table class="table striped">
        <thead>
          <tr>
            <th class="info">Rating Parameter</th>
            <th class="info">Ratings</th>
          </tr>
          <tr>
            <th class="warning">{{item.ratings[0].title}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> {{item.ratings[0].title}} score :</td>
            <td>{{item.ratings[0].score}}</td>
          </tr>
          <tr>
            <td> {{item.ratings[0].title}} grade :</td>
            <td>{{item.ratings[0].grade}}</td>
          </tr>
          <tr>
            <td> {{item.ratings[0].title}} summary :</td>
            <td>{{item.ratings[0].summary}}</td>
          </tr>
          <tr>
            <th class="warning">{{item.ratings[1].title}}</th>
          </tr>
          <tr>
            <td> {{item.ratings[1].title}} score </td>
            <td> {{item.ratings[1].score}}</td>
          </tr>
          <tr>
            <td> {{item.ratings[1].title}} grade </td>
            <td>{{item.ratings[1].grade}}</td>
          </tr>
          <tr>
            <td>
              <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">{{item.ratings[1].title}} Summary </button>
            </td>
            <td>
              <div uib-collapse="isCollapsed">
                <div class="well well-lg">{{item.ratings[1].summary}}</div>
              </div>
            </td>
          </tr>
          <th class="warning">{{item.ratings[2].title}}</th>
          <tr>
            <td> {{item.ratings[2].title}} score :</td>
            <td>{{item.ratings[2].score}}</td>
           </tr>
          <tr>
            <td> {{item.ratings[2].title}} grade : </td>
            <td>{{item.ratings[2].grade}}</td>
          </tr>
          <tr>
            <td> {{item.ratings[2].title}} summary :</td>
            <td>{{item.ratings[2].summary}}</td>
          </tr>
          <tr>
            <td>
              <a href="#" class="btn btn-info btn-sm" data-toggle="modal" data-target="#{{item.ratings[2].title}}">More {{item.ratings[2].title}} Detail</a>
            </td>
          </tr>
          <tr>
            <th class="warning">{{item.ratings[3].title}}</th>
          </tr>
          <tr>
            <td> {{item.ratings[3].title}} score : </td>
            <td>{{item.ratings[3].score}}</td>
          </tr>
          <tr>
            <td> {{item.ratings[3].title}} grade :</td>
            <td> {{item.ratings[3].grade}}</td>
          </tr>
          <tr>
            <td> {{item.ratings[3].title}} summary :</td>
            <td>{{item.ratings[3].summary}}</td>
          </tr>
          <tr>
            <td>
              <a href="#" class="btn btn-info btn-sm" data-toggle="modal" data-target="#{{item.ratings[3].title}}">More {{item.ratings[3].title}} Detail</a>
            </td>
          </tr>
          <tr>
            <th class="warning">{{item.ratings[4].title}}</th>
          </tr>
          <tr>
            <td> {{item.ratings[4].title}} score : </td>
            <td>{{item.ratings[4].score}}</td>
          </tr>
          <tr>
            <td> {{item.ratings[4].title}} grade :</td>
            <td> {{item.ratings[4].grade}}</td>
          </tr>
          <tr>
            <td> {{item.ratings[4].title}} summary :</td>
            <td>{{item.ratings[4].summary}}</td>
          </tr>
          <tr>
            <td>
              <a href="#" class="btn btn-info btn-sm" data-toggle="modal" data-target="#{{item.ratings[4].title}}">More {{item.ratings[4].title}} Detail</a>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
